<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="test1" >
        <groups>
            <run>
                <include name="passed test"/>
                <include name="fail test"/>
            </run>
        </groups>
        <classes>
            <class name="simple.TestCalc"/>
        </classes>
    </test>

    <test name="test2">
     </test>
</suite>
